/* Main body design */
body {
    margin: 15px !important;
}

body p {
    font-family: 'Raleway', sans-serif;
}

body h1,h2,h3 {
    font-family: 'Handlee', cursive !important;
    color: #967950;
    text-align: center;
}

body h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

/* Navbar */
.navbar-brand {
    font-family: 'Handlee', cursive;
    font-size: 2em !important;
    color: #967950 !important;
}

.sign-up {
    padding: 0px !important;
    color: #967950 !important;
}

/* Hero Image */
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.callout-container {
    height: 100vh;

    background: url('../images/orange-gin.jpg') no-repeat center center fixed;
    opacity: 0.9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.card-title {
    font-family: 'Handlee', cursive !important;
    color: white !important;
    font-size: 4em !important;
}

.card-text {
    font-size: 2em !important;
    color: white !important;
}

.disclaimer {
    color: whitesmoke;
    font-size: 1em !important;
}

/* Block dividers */

.block-divider {
    width: 500px;
    border: 0;
    background-color: #444;
}

.block-divider--green {
    background-color: #9eb273;
}

.block-divider--green hr {
    height: 5px !important;
}

/* Reviews */
.blockquote {
    text-align: center;
}

.blockquote p {
    font-size: 0.8em !important;
}

.fa-star {
    color: #967950
}

.quote {
    margin: 20px 20px 0px;
}

/* All About Gin */
.quick-facts {
    background-color: #9eb273;
    color: white;
    text-align: center;
}

.quick-facts p {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

#experts {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.fa-cocktail {
    font-size: 1.5em;
    color: whitesmoke;
    margin-top: 10px;
}

.gin-rank {
    font-size: 1.5em;
    color: #9eb273;
}

.best-for {
    text-decoration: underline;
}

.price {
    font-size: 2.5em;
}

/* Book a Class */
.bartenders {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-between;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px whitesmoke;
    box-shadow: 0px 0px 5px 10px whitesmoke !important;
}

.bartender-intro {
    background-color:hsl(141, 23%, 33%);
    color: white;
    text-align: center;
    padding: 10px 60px;
}

.bartender-intro h3 {
    color: white !important;
    margin-top: 10px;
}

.bartender-info {
    padding-top: 20px;
}

/* Google Map */
#map {
    min-height: 360px;
}

/* for 4k screens size from 2560px wide and down */
@media screen and (max-width: 2560px) {
    
}

/* for larger screens size from 1920px wide and down */
@media screen and (max-width: 1920px) {
    
}

/* for larger screens size from 1440px wide and down */
@media screen and (max-width: 1440px) {
   
}

/* for larger to medium screens size from 1366px wide and down */
@media screen and (max-width: 1366px) {
    
}

/* for medium screens size from 1280px wide and down */
@media screen and (max-width: 1280px) {
    .bartenders {
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }
}

/* for larger to medium screens size from 1024px wide and down */
@media screen and (max-width: 1024px) {
    .bartender {
        justify-content: space-between;
    }
}

/* for small to medium screens size from 800px wide and down */
@media screen and (max-width: 800px) {
    .bartenders {
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
}

/* for small screens size from 575px wide and down */
@media screen and (max-width: 575px) {
    
}

/* for small screens size from 425px wide and down */
@media screen and (max-width: 425px) {
    .bartenders {
        grid-template-columns: auto;
        justify-content: space-evenly;
    }
}

/* for small screens size from 390px wide and down */
@media screen and (max-width: 390px) {
    
}

/* for small screens size from 320px wide and down */
@media screen and (max-width: 320px) {
    
}