{% extends "base.html" %}
{% block content %}
  <!-- Meet Your Bartenders -->
  <section>
    <div id="bartender-heading">
      <h3>Meet Your Bartenders</h3>
      <p>These lovely bartenders, have a combined experience of 34 years, delivering fantastically-made cocktails, but most of all, specialising in gin-cocktails.<br>When you book a class with us, you will be taught by one of these bartenders and learn so much from their years of experience.</p>
    </div>
    <hr>
  </section>
  <section class="bartender-intro">
    <br>
    <div class="container">
      <div class="row">
        <div class="bartenders">
          <span><img class="circle" src="static/images/bartender-1.png" alt="bartender 1"><br><p class="bartender-info">Jamie, 27<br>5 years of experience<br>Favourite gin cocktail:<br>Blackberry Gin</p></span>
          <span><img class="circle" src="static/images/bartender-2.png" alt="bartender 2"><br><p class="bartender-info">Sarah, 29<br>4 years of experience<br>Favourite gin cocktail:<br>Gimlet Gin</p></span>
          <span><img class="circle" src="static/images/bartender-3.png" alt="bartender 3"><br><p class="bartender-info">José, 33<br>10 years of experience<br>Favourite gin cocktail:<br>Gin Fizz</p></span>
          <span><img class="circle" src="static/images/bartender-4.png" alt="bartender 4"><br><p class="bartender-info">Laurel, 30<br>6 years of experience<br>Favourite gin cocktail:<br>Classic Gin Martini</p></span>
          <span><img class="circle" src="static/images/bartender-5.png" alt="bartender 5"><br><p class="bartender-info">Lawrence, 31<br>5 years of experience<br>Favourite gin cocktail:<br>Gin Sling</p></span>
          <span><img class="circle" src="static/images/bartender-6.png" alt="bartender 6"><br><p class="bartender-info">Tolu, 28<br>4 years of experience<br>Favourite gin cocktail:<br>Tom Collins</p></span>
        </div>
      </div>
    </div>
  </section>
  <section id="bartender-slideshow">
    <div id="carouselBartenderIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselBartenderIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselBartenderIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselBartenderIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselBartenderIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselBartenderIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselBartenderIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/images/bar-1.png" class="d-block w-100" alt="Jamie">
          </div>
          <div class="carousel-item">
            <img src="static/images/bar-2.png" class="d-block w-100" alt="Sarah">
          </div>
          <div class="carousel-item">
            <img src="static/images/bar-3.png" class="d-block w-100" alt="José">
          </div>
          <div class="carousel-item">
            <img src="static/images/bar-4.png" class="d-block w-100" alt="Laurel">
          </div>
          <div class="carousel-item">
            <img src="static/images/bar-5.png" class="d-block w-100" alt="Lawrence">
          </div>
          <div class="carousel-item">
            <img src="static/images/bar-6.png" class="d-block w-100" alt="Tolu">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBartenderIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselBartenderIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </section>
  <!-- /.meet your bartenders -->
  <hr>
{% endblock %}